.pagination {
	display: flex;
	align-items: center;
	column-gap: 20px;

	padding: 20px;
}

.elementActive {
	background-color: var(--primary-color-100);

	color: var(--key-invert-color);

	box-shadow: 0 0 15px var(--primary-color-70);

	transition: box-shadow 250ms ease-in-out;
}
