.button {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 10px 15px;

	height: max-content;

	background-color: var(--key-invert-color);

	cursor: pointer;

	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.button:disabled {
	cursor: default;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus-visible {
	background-color: var(--primary-color-100);

	color: var(--key-invert-color);
}
