.button {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 10px 15px;

	height: max-content;

	background-color: var(--key-invert-color);

	cursor: pointer;

	transition: background-color 200ms ease-in-out, color 200ms ease-in-out,
		box-shadow 200ms ease-in-out;

	border-radius: 6px;
}

.button:disabled {
	cursor: default;
}

.color:not(:disabled):hover,
.color:not(:disabled):focus-visible {
	background-color: var(--primary-color-100);

	color: var(--key-invert-color);
}

.mono:not(:disabled):hover,
.mono:not(:disabled):focus-visible {
	box-shadow: 0 0 15px var(--third-color-50);
}
