@import url('./normalize.css');
@import url('./variables.css');

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: var(--key-color);
	line-height: 1.2em;
	letter-spacing: 0.05em;
}
