.tableHead {
	position: sticky;
	top: 0;

	background-color: var(--key-invert-color);
}

/*
Хак с псевдоэлементами нужен, чтобы про использовании позиции sticky,
Корректно отображались border'ы у шапки
*/

.tableHead::before,
.tableHead::after {
	content: '';

	position: absolute;
	left: 0;
	right: 0;

	height: 2px;
	background-color: var(--key-color);
}

.cell::after {
	bottom: 0;
}
.cell::before {
	top: 0;
}

.cell {
	position: relative;

	padding: 20px;

	text-transform: capitalize;
}

.cell::before,
.cell::after {
	content: '';

	position: absolute;
	top: 0;

	width: 1px;
	height: 100%;
	background-color: var(--key-color);
}

.cell::after {
	right: -1px;
}

.cell::before {
	left: -1px;
}

.cell:last-child::after,
.cell:first-child::before {
	width: 2px;
}

@media (max-width: 576px) {
	.cell {
		padding: 10px;
	}
}
